#title {
  background-color: #ff4c68;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

.brand {
  font-size: 3rem;
}

.head-note {
  color: white;

}

.navigation-bar {
  margin-bottom: 50px;
}

.dog-img {
  transform: rotate(15deg);
  margin: 2rem;
}
